
.nav-button{
  color: #fdfdfd;
  font-size: 1.2em;
  text-decoration: none;
  align-self: stretch;
  padding: 15px 30px;
}

body{
  background-color: white;
  margin: 0px;
}

.container{
  display: flex;
  justify-content: center;

}

.content{
  flex-grow: 1;
  margin: 25px 20px 20px 20px;
  padding: 1em 3em;
  background-color: white;
  max-width: 800px;
  font-family: robotolight;
  font-size: 25px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.nav-container{
  background-color: rgba(33,120,33,.90);
  height: 50px;
  width: 100%;
  display: flex;
}

.nav-pic{
  width: 60px;
  margin-left: 20px;
}

.nav-pic > img {
  box-sizing: border-box;
  padding: 4px;
}

.banner-container{
  background-color: white;
  display: flex;
  justify-content: center;
}

.banner-pic{
  width: 100%;
  padding: 50px 0;
}

h1 {
  font-family: exothin;
  font-size: 50px;
}