---
---
@import "main";

@font-face {
  font-family: "robotolight";
  src: url("/assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "exothin";
  src: url("/assets/fonts/Exo2-Thin.otf");
}